.content-background {
  border-left: 3.2rem solid $color--off-white;
  border-right: 3.2rem solid $color--off-white;

  .bg-logo {
    opacity: 0.6;
    mix-blend-mode: multiply;
  }

  &.background-1 {
    background-color: $color--blue;

    .bg-logo {
      fill: $color--blue;
    }
  }

  &.background-2 {
    background-color: $color--peach;

    .bg-logo {
      fill: $color--peach;
    }
  }

  &.background-3 {
    background-color: $color--green;

    .bg-logo {
      fill: $color--green;
    }
  }

  &.background-4 {
    background-color: $color--yellow;

    .bg-logo {
      fill: $color--yellow;
    }
  }

}
