@import '../../_global-styles/mixins';
@import '../../_global-styles/colors';

.content-background {
  border-left: 3.2rem solid $color--off-white;
  border-right: 3.2rem solid $color--off-white;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone {
    padding-top: calc(2.4rem + 9.6rem); //9.6rem is header height
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    border-left: 1.6rem solid $color--off-white;
    border-right: 1.6rem solid $color--off-white;
  }

  @include tablet {
    padding-top: calc(3.2rem + 9.6rem); //9.6rem is header height
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    border-left: 2.4rem solid $color--off-white;
    border-right: 2.4rem solid $color--off-white;
  }

  @include desktop {
    padding-top: calc(4.8rem + 19.2rem); //19.2rem is header height
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    border-left: 3.2rem solid $color--off-white;
    border-right: 3.2rem solid $color--off-white;
  }

  flex: 1 0 auto;

  .bg-logo {
    opacity: 0.6;
    mix-blend-mode: multiply;
  }

}
