.content-background {
  border-left: 3.2rem solid $color--off-white;
  border-right: 3.2rem solid $color--off-white;

  flex: 1 0 auto;

  .bg-logo {
    opacity: 0.6;
    mix-blend-mode: multiply;
  }

}
