<div class="content-background background-1">
  <svg class="bg-logo">
  </svg>
  <!-- whatever content -->
  <!-- text block -->
  <!-- video block -->
</div>

<div class="content-background background-2">
  <svg class="bg-logo">
  </svg>
  <!-- whatever content -->
  <!-- text block -->
  <!-- video block -->
</div>

<div class="content-background background-3">
  <svg class="bg-logo">
  </svg>
  <!-- whatever content -->
  <!-- text block -->
  <!-- video block -->
</div>

<div class="content-background background-4">
  <svg class="bg-logo">
  </svg>
  <!-- whatever content -->
  <!-- text block -->
  <!-- video block -->
</div>
