/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Box Sizing reset*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*primary color*/
/*secondary colors*/
/*text colors*/
/*-----variables to use in other files-------*/
.background-1 {
  background-color: #E1EBED; }
  .background-1 .bg-logo {
    fill: #E1EBED; }

.background-2 {
  background-color: #FAF5F2; }
  .background-2 .bg-logo {
    fill: #FAF5F2; }

.background-3 {
  background-color: #E9F0EC; }
  .background-3 .bg-logo {
    fill: #E9F0EC; }

.background-4 {
  background-color: #FFF3DB; }
  .background-4 .bg-logo {
    fill: #FFF3DB; }

@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/league-spartan/leaguespartan-bold.eot");
  src: url("../fonts/league-spartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/league-spartan/leaguespartan-bold.woff2") format("woff2"), url("../fonts/league-spartan/leaguespartan-bold.woff") format("woff"), url("../fonts/league-spartan/leaguespartan-bold.ttf") format("truetype"), url("../fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  color: #4E4361;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*--------HEADINGS--------*/
h1 {
  /*Welcome header*/
  font-family: 'League Spartan', sans-serif;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #1A95A2; }

h2 {
  /*section header*/
  font-family: 'League Spartan', sans-serif;
  font-size: 2.4rem;
  line-height: 2.0;
  color: #1A95A2;
  text-transform: uppercase; }
  @media screen and (min-width: 0px) {
    h2 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 2.0rem; } }
  @media screen and (min-width: 840px) {
    h2 {
      font-size: 2.4rem; } }

h3 {
  /*section sub-header*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #4E4361; }
  @media screen and (min-width: 0px) {
    h3 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 2.0rem; } }
  @media screen and (min-width: 840px) {
    h3 {
      font-size: 2.4rem; } }

/*--------EMPHASIS--------*/
strong {
  font-family: 'Laila', serif;
  font-weight: 500;
  color: inherit; }

/*--------BODY--------*/
p {
  line-height: 1.5;
  padding-bottom: 1.6rem; }

p, button, input, select, textarea {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 2.4rem; }
  @media screen and (min-width: 0px) {
    p, button, input, select, textarea {
      font-size: 1.8rem; } }
  @media screen and (min-width: 480px) {
    p, button, input, select, textarea {
      font-size: 2.0rem; } }
  @media screen and (min-width: 840px) {
    p, button, input, select, textarea {
      font-size: 2.4rem; } }

a {
  font-weight: 500;
  color: #4E4361;
  font-size: inherit; }

/*--------FOOTER--------*/
footer {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 1.4rem; }

/*---------CONTACT FORM----------*/
label {
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 1.8rem; }

input::placeholder {
  color: inherit;
  opacity: 0.5; }

/*--------NAVIGATION--------*/
.menu__item, .mobile-menu__item {
  font-family: 'League Spartan', serif;
  font-size: 1.8rem;
  color: #4E4361;
  text-transform: uppercase; }
  .menu__item.active, .mobile-menu__item.active {
    color: #F24677; }

nav a {
  text-decoration: none; }
  nav a:visited {
    color: inherit; }

.table-of-contents__item {
  font-family: 'Laila', serif;
  font-size: 1.8rem;
  color: #1A95A2; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.site-header {
  background-color: #FCFBFA;
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  min-height: 6.4rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0; }
  .site-header nav.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .site-header nav.menu ul > li {
      padding-right: 4.8rem; }
    .site-header nav.menu ul > li:last-child {
      padding-right: 0; }
  @media screen and (min-width: 0px) {
    .site-header {
      height: 9.6rem; }
      .site-header nav.menu {
        display: none; } }
  @media screen and (min-width: 840px) {
    .site-header {
      height: 19.2rem; }
      .site-header .burger {
        display: none; }
      .site-header nav.menu {
        display: block; } }
  @media screen and (min-width: 0px) {
    .site-header.slideUp {
      animation: slideUpPhone .5s forwards ease-out; } }
  @media screen and (min-width: 840px) {
    .site-header.slideUp {
      animation: slideUpDesktop .5s forwards ease-out; } }
  @media screen and (min-width: 0px) {
    .site-header.slideDown {
      animation: slideDownPhone .3s forwards ease-out; } }
  @media screen and (min-width: 840px) {
    .site-header.slideDown {
      animation: slideDownDesktop .3s forwards ease-out; } }

@keyframes slideUpPhone {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-9.6rem); } }

@keyframes slideDownPhone {
  0% {
    transform: translateY(-9.6rem); }
  100% {
    transform: translateY(0px); } }

@keyframes slideUpDesktop {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-19.2rem); } }

@keyframes slideDownDesktop {
  0% {
    transform: translateY(-19.2rem); }
  100% {
    transform: translateY(0px); } }

footer {
  background-color: #FCFBFA;
  width: 100%;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.0; }
  @media screen and (min-width: 0px) {
    footer {
      padding: 2.4rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    footer {
      padding: 2.4rem; } }
  @media screen and (min-width: 840px) {
    footer {
      padding: 3.2rem; } }
  footer ul {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 0px) {
      footer ul {
        text-align: center; } }
    @media screen and (min-width: 480px) {
      footer ul {
        text-align: center; } }
    @media screen and (min-width: 840px) {
      footer ul {
        text-align: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; }
        footer ul > * {
          margin-right: 2.4rem; }
        footer ul > *:last-child {
          margin-right: 0; } }
  footer .created-by {
    margin-top: 1.6rem; }

.content-background {
  border-left: 3.2rem solid #FCFBFA;
  border-right: 3.2rem solid #FCFBFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto; }
  @media screen and (min-width: 0px) {
    .content-background {
      padding-top: calc(2.4rem + 9.6rem);
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      border-left: 1.6rem solid #FCFBFA;
      border-right: 1.6rem solid #FCFBFA; } }
  @media screen and (min-width: 480px) {
    .content-background {
      padding-top: calc(3.2rem + 9.6rem);
      padding-right: 2.4rem;
      padding-left: 2.4rem;
      border-left: 2.4rem solid #FCFBFA;
      border-right: 2.4rem solid #FCFBFA; } }
  @media screen and (min-width: 840px) {
    .content-background {
      padding-top: calc(4.8rem + 19.2rem);
      padding-right: 3.2rem;
      padding-left: 3.2rem;
      border-left: 3.2rem solid #FCFBFA;
      border-right: 3.2rem solid #FCFBFA; } }
  .content-background .bg-logo {
    opacity: 0.6;
    mix-blend-mode: multiply; }

.mobile-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 0px) {
    .mobile-header {
      margin-left: 1.6rem;
      margin-right: 1.6rem; } }
  @media screen and (min-width: 480px) {
    .mobile-header {
      margin-left: 2.4rem;
      margin-right: 2.4rem; } }
  @media screen and (min-width: 840px) {
    .mobile-header {
      display: none; } }
  .mobile-header__title {
    font-family: 'Laila', serif;
    font-weight: 500;
    font-size: 2.4rem;
    padding-bottom: 1.6rem; }
    @media screen and (min-width: 0px) {
      .mobile-header__title {
        font-size: 2.0rem; } }
    @media screen and (min-width: 480px) {
      .mobile-header__title {
        font-size: 2.4rem; } }

.burger {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
  .burger__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: #4E4361;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .burger__patty:last-child {
      margin-bottom: 0; }
  .burger--close {
    transform: rotate(180deg); }
    .burger--close .burger__patty:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px); }
    .burger--close .burger__patty:nth-child(2) {
      opacity: 0; }
    .burger--close .burger__patty:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -4px); }

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .mobile-menu--active {
    visibility: visible; }
  .mobile-menu__brand, .mobile-menu__list {
    float: none;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; }
    .mobile-menu__brand--active, .mobile-menu__list--active {
      transform: translate3d(0, 0, 0); }
  .mobile-menu__list {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    margin: 0;
    padding: 0;
    background: #FCFBFA;
    opacity: 0.9;
    list-style-type: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .mobile-menu__list--active {
      transform: translate3d(0, 0, 0); }
  .mobile-menu__item {
    transform: translate3d(500px, 0, 0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .mobile-menu__item--active {
      transform: translate3d(0, 0, 0); }
  .mobile-menu__link {
    display: inline-block;
    position: relative;
    font-size: 24px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .mobile-menu__link:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: #4E4361;
      transform: translateX(-50%);
      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .mobile-menu__link:hover:before {
      width: 100%; }
  .mobile-menu .mobile-menu__item:nth-child(1) {
    transition-delay: 0.1s; }
  .mobile-menu .mobile-menu__item:nth-child(2) {
    transition-delay: 0.2s; }
  .mobile-menu .mobile-menu__item:nth-child(3) {
    transition-delay: 0.3s; }
  .mobile-menu .mobile-menu__item:nth-child(4) {
    transition-delay: 0.4s; }
  .mobile-menu .mobile-menu__item:nth-child(5) {
    transition-delay: 0.5s; }
  .mobile-menu .mobile-menu__item:nth-child(6) {
    transition-delay: 0.6s; }

.logo {
  width: 90px;
  height: 90px;
  margin: 16px;
  background: #1a1a1a;
  border-radius: 50%; }

.back-to-top {
  width: 72px;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 3.2rem;
  right: 0;
  margin-bottom: 3.2rem;
  align-self: flex-end; }
  @media screen and (min-width: 0px) {
    .back-to-top {
      margin-bottom: 1.6rem;
      bottom: 1.6rem; } }
  @media screen and (min-width: 480px) {
    .back-to-top {
      margin-bottom: 2.4rem;
      bottom: 2.4rem; } }
  @media screen and (min-width: 840px) {
    .back-to-top {
      margin-bottom: 3.2rem;
      bottom: 3.2rem; } }
  .back-to-top:hover {
    background-color: #1A95A2; }
    .back-to-top:hover svg use {
      fill: #FCFBFA; }
  .back-to-top:active {
    background-color: #136d76; }
  .back-to-top svg {
    width: 2.4rem; }

.article-media-block {
  width: 100%;
  max-width: 76.8rem; }
  @media screen and (min-width: 0px) {
    .article-media-block {
      margin: 0 1.6rem 2.4rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    .article-media-block {
      margin: 0 2.4rem 3.2rem 2.4rem;
      max-width: 51.2rem; } }
  @media screen and (min-width: 840px) {
    .article-media-block {
      margin: 0 3.2rem 4.8rem 3.2rem;
      max-width: 76.8rem; } }
  .article-media-block .media-container {
    background-color: #333;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 0px) {
      .article-media-block .media-container {
        border: 0.8rem solid #FCFBFA; } }
    @media screen and (min-width: 480px) {
      .article-media-block .media-container {
        border: 1.2rem solid #FCFBFA; } }
    @media screen and (min-width: 840px) {
      .article-media-block .media-container {
        border: 1.6rem solid #FCFBFA; } }
    .article-media-block .media-container .video-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      height: 0; }
    .article-media-block .media-container .video-wrapper object,
    .article-media-block .media-container .video-wrapper embed,
    .article-media-block .media-container .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.article-special-block {
  max-width: 76.8rem;
  width: 100%; }
  @media screen and (min-width: 0px) {
    .article-special-block {
      margin: 0 1.6rem 2.4rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    .article-special-block {
      margin: 0 2.4rem 3.2rem 2.4rem;
      max-width: 51.2rem; } }
  @media screen and (min-width: 840px) {
    .article-special-block {
      margin: 0 3.2rem 4.8rem 3.2rem;
      max-width: 76.8rem; } }
  .article-special-block__content {
    background-color: rgba(255, 255, 255, 0.5); }
    @media screen and (min-width: 0px) {
      .article-special-block__content {
        padding: 2.4rem 1.6rem 2.4rem 1.6rem; } }
    @media screen and (min-width: 480px) {
      .article-special-block__content {
        padding: 3.2rem 2.4rem 3.2rem 2.4rem; } }
    @media screen and (min-width: 840px) {
      .article-special-block__content {
        padding: 4.8rem 3.2rem 4.8rem 3.2rem; } }

.article-text-block {
  width: 100%;
  max-width: 76.8rem; }
  @media screen and (min-width: 0px) {
    .article-text-block {
      margin: 0 1.6rem 2.4rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    .article-text-block {
      margin: 0 2.4rem 3.2rem 2.4rem;
      max-width: 51.2rem; } }
  @media screen and (min-width: 840px) {
    .article-text-block {
      margin: 0 3.2rem 4.8rem 3.2rem;
      max-width: 76.8rem; } }

input, textarea {
  background-color: #FCFBFA;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.4rem 0.8rem;
  border-radius: 3px; }

input:focus, textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0.25); }

button {
  color: #FCFBFA;
  background-color: #1A95A2;
  padding: 0.8rem 3.2rem;
  border: none;
  border-radius: 3px; }

button:focus, button:hover {
  outline: none; }
  button:focus::before, button:hover::before {
    position: absolute;
    content: "";
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FCFBFA;
    opacity: 0.2;
    border-radius: 3px; }

button:active {
  background-color: #136d76; }

.contact-form-block {
  width: 100%;
  max-width: 76.8rem; }
  @media screen and (min-width: 0px) {
    .contact-form-block {
      margin: 0 1.6rem 7.2rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    .contact-form-block {
      margin: 0 2.4rem 9.6rem 2.4rem;
      max-width: 51.2rem; } }
  @media screen and (min-width: 840px) {
    .contact-form-block {
      margin: 0 3.2rem 9.6rem 3.2rem;
      max-width: 76.8rem; } }
  .contact-form-block form {
    max-width: 51.2rem;
    position: relative; }
  .contact-form-block label, .contact-form-block button {
    display: block; }
  .contact-form-block button {
    position: absolute;
    right: 0; }
  .contact-form-block label {
    margin-bottom: 0.4rem; }
  .contact-form-block input, .contact-form-block textarea {
    width: 100%;
    margin-bottom: 3.2rem; }
  .contact-form-block textarea {
    resize: none; }
