$color--background-1: $blue;
$color--background-2: $peach;
$color--background-3: $green;
$color--background-4: $yellow;

/*primary color*/
$color--purple: #4E4361;

/*secondary colors*/
$color--green: #E9F0EC;
$color--peach: #FAF5F2;
$color--blue: #E1EBED;
$color--yellow: #FFF3DB;

/*text colors*/
$color--pink: #F24677;
$color--teal: #1A95A2;


$color--off-white: #FCFBFA;

$color--white-50: rgba(255, 255, 255, 0.5);
