.article-media-block {
  width: 100%;
  max-width: 76.8rem;

  @include phone {
    margin: 0 1.6rem 2.4rem 1.6rem;
  }

  @include tablet {
    margin: 0 2.4rem 3.2rem 2.4rem;
    max-width: 51.2rem;
  }

  @include desktop {
    margin: 0 3.2rem 4.8rem 3.2rem;
    max-width: 76.8rem;
  }

  .media-container {
    background-color: #333;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);

    @include phone {
      border: 0.8rem solid $color--off-white;
    }

    @include tablet {
      border: 1.2rem solid $color--off-white;
    }

    @include desktop {
      border: 1.6rem solid $color--off-white;
    }

    .video-wrapper {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
    }

    .video-wrapper object,
    .video-wrapper embed,
    .video-wrapper iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}
