.site-header {
  background-color: $color--off-white;
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  min-height: 6.4rem;
  position: fixed;
  z-index: 10;

  nav.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > li {
      padding-right: 4.8rem;
    }

    > li:last-child {
      padding-right: 0;
    }
  }

  @include phone {
    height: 9.6rem;

    //hide menu
    nav.menu {
      display: none;
    }
  }

  @include desktop {
    height: 19.2rem;
    //hide hamburger
    .burger {
      display: none;
    }

    //show menu
    nav.menu {
      display: block;
    }
  }

  // Animation Classes
  &.slideUp {
    @include phone {
      animation: slideUpPhone .5s forwards ease-out;
    }
    @include desktop {
      animation: slideUpDesktop .5s forwards ease-out;
    }
  }

  &.slideDown {
    @include phone {
      animation: slideDownPhone .5s forwards ease-out;
    }
    @include desktop {
      animation: slideDownDesktop .5s forwards ease-out;
    }
  }

  // Phone Animation Keyframes
  @keyframes slideUpPhone {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-9.6rem);
    }
  }
  @keyframes slideDownPhone {
    0% {
      transform: translateY(-9.6rem);
    }
    100% {
      transform: translateY(0px);
    }
  }

  // Phone Animation Keyframes
  @keyframes slideUpDesktop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-19.2rem);
    }
  }
  @keyframes slideDownDesktop {
    0% {
      transform: translateY(-19.2rem);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
